
#feeTable, .tableBorder {
    border-collapse: collapse;
    border: 1px solid black;
}

.tableBorder {
    padding: 10px;
    min-width: max-content;
}

.feehead {
    border: 1px solid black;
    padding-right: 5px;
}

#trn {
    font-size: 14px;
}

#taxInvoice {
    min-width: 25em !important;
}
#notes_div {
    font-size: 12px;
}
#total_div {
    float: right;
    font-size: 10px;
    font-weight: bold;
}
.col-half {
    max-width: 50%;
    min-width: 50%;
    display: inline-block;
}

#bankDetails {
    min-width: 100%;
    font-size: 14px;
}
#bankDetails th, td {
    text-align: center;
}

#student_info {
    font-size: 14px;
}

#bill_info td{
    text-align: left;
}
#academic_year_label {display: block;}