
#feeTable {
    border-collapse: collapse;
}

#feeTable {
    border: 1px solid black;
}

/*}*/
/*#feeTable{*/
/*    align-content: center;*/
/*    padding: 15px;*/
/*    text-align: left;*/
/*}*/

.feehead {
    border: 1px solid black;
    padding-right: 5px;
}

#trn {
    font-size: 14px;
}

#taxInvoice {
    min-width: 25em !important;
}



